@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Tangerine:wght@400;700&display=swap');


/*----------General----------*/
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #000000;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: "Tangerine", sans-serif;
    font-weight: 700;
    font-size: 10rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20%;
    letter-spacing: 10px;    
}

/*----------Images----------*/
.hero-image {
    background: url("../images/dellenquiz-hero-image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 700px;
}

/*----------Button----------*/
.answer {
    background-color: #F4F7F9;
    border-radius: 25px;
}

.submit {
    background-color: #EB9B9D;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 25px;
}