@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Tangerine:wght@400;700&display=swap');

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #000000;
}

/*----------Button----------*/
.answer {
    background-color: #F4F7F9;
    border-radius: 25px;
}

.submit {
    background-color: #EB9B9D;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 25px;
}